:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

@media only screen and (max-width: 450px) {
  nav img {
    display: none;
  }
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 250%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--main);
}

h2 {
  font-family: 'Crimson Text', serif;
  font-size: 150%;
  margin: 0 0;
  text-align: center;
  color: var(--accent);
  filter: brightness(50%);
}

#cuties {
  font-family: 'Crimson Text', serif;
  font-size: 200%;
  text-align: center;
  background: -webkit-linear-gradient(#F7A8B8, #55CDFC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#cat {
  display: block;
  width: 20rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0.4rem;
  border: dashed var(--accent) 0.2rem;

}
