:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

html {
  background-color: var(--background);
  scrollbar-color: var(--accent) var(--background);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
}

/*  here be dragons
    please do not touch unless you want death */
#content {
  min-height: calc(100vh - 8rem);
}

@media only screen and (min-height: 800px) {
  #content {
    min-height: calc(100vh - 4rem);
  }
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  color: var(--accent);
  font-family: 'Fira Sans', sans-serif;
  background-color: var(--bg-but-darker);
}

nav a {
  color: var(--main);
  text-decoration: none;
  margin: 0 1rem;
  text-align: center;
}

nav a:hover {
  position: relative;
  filter: brightness(60%);
  text-decoration: none;
}

nav img {
  width: 2rem;
  height: 100%;
  margin-top: -0.3rem;
}

.active {
  color: var(--accent);
}

footer {
  color: var(--accent);
  font-family: 'Fira Sans', sans-serif;
  padding: 0 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

::selection {
  background-color: rgba(255, 209, 220, 0.3);
}