:root {
  --main: #E2DCFE;
  --accent: #B4A4F8;
  --background: #0B0916;
  --bg-but-darker: #050405;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-size: 250%;
  color: var(--main);
}

#main-header {
  text-align: center;
}

.project a {
  color: var(--main);
  text-decoration: none;
}

.project {
  font-family: 'Crimson Text', serif;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
  border-bottom: dashed var(--accent) 0.1rem;
  width: 90%;
  color: var(--main);
}

.project p {
  font-size: 150%;
}

/* desktop stuff */
@media only screen and (min-width: 1000px) {
  .project {
    width: 40%;
  }
  .project p {
    font-size: 160%;
  }
}

.project img {
  width: 3.5rem;
  height: 100%;
  vertical-align: middle;
  margin-top: -0.3rem;
  margin-left: -0.1rem;
}

.project .text-icon {
  color: var(--accent);
}

.project .text-icon:hover {
  animation: glow 0.3s;
  animation-fill-mode: forwards;
}

#link-header:hover, #inline-link:hover {
  filter: brightness(60%);
}

#inline-link {
  color: var(--accent);
}

@keyframes glow {
  from {}
  to {filter: brightness(150%) drop-shadow(0 0 3px);}
}
